@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Wire+One&display=swap');

:root {
	--width: 500px;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Wire One', sans-serif;
}

.back {
	height: 609px;
	background-image: url("./Image_created_with_a_mobile_phone.png");
	filter: brightness(3);
	background-position: center left;
	background-repeat: no-repeat;
	background-size: var(--width) 100%;
	background-color: #fff;
	display: flex;
	align-items: center;
	padding-left: 390px;
	position: relative;
}

.mask {
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.8);
	width: var(--width);
	height: 100%;
}

h1 {
	position: relative;
	color: white;
	mix-blend-mode: difference;
	text-transform: uppercase;
	font-size: 60px;
}